body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

/* left */
#image {
    float: left;
    width: 110px;
}

/* right */
#information {
    overflow: hidden;
    padding: 10px;
}

#image img {
    width: 80px;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

#password-title {
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 20px;
}

#password-label {

}

#password-field {
    float: right;
}

#buttons {
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /*margin: 10px;*/
}