* {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-family: sans-serif;
  font-size: 0.75em;
}

body {
  background: #e6e6e6;
  margin: 0 auto;
  padding: 2px;
  height: inherit;
}

#root {
  overflow: auto;
  width: 100%;
}

#buttons {
  padding-top: 10px;
  width: 100%;
  margin-left: auto;
  right: auto;
}

button {
  margin: 2px 2px;
  min-width: 7em;
}

.button-right {
  float: right;
}

/* too close, add room */
.select-info {
  padding-left: 5px;
}


td.my-details-control {
  background: url('../../icons/details_popup.png') no-repeat center center;
  /*background: url('../icons/icon_info.png') no-repeat center center;*/
  cursor: pointer;
}


/* hide the plus-icon when resizing window to a amall width */
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
  display: none;
}
