body {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 32px;
    margin-top: 4px;
    margin-bottom: 10px;
    letter-spacing: -1px;
    transform:scale(1,1.1);
}

.content {
    flex: 1 0 auto;
}

.footer {
    height: 50px;
    background-color: #cbcbcb;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* left */
#image {
    float: left;
    width: 200px;
}
/* right */
#information {
    overflow: hidden;
    padding: 10px;
}

#image img {
    width: 160px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


#app-name {
    color: #505050;
}

#version {
    font-weight: bold;
}

#app-properties {
    font-variant-position: sub;
}

#description {
    margin-top: 10px;
    line-height: 18px;
}
#description-label {
    font-weight: bold;
}

#developer {
}

#app-developer-url {
    color: darkblue;
    cursor: pointer;
}
#app-developer-url:hover {
    text-decoration: underline;
}


.tilt img {
    filter: drop-shadow(5px 5px 9px rgba(105, 105, 105, 0.51));
}
.tilt {
    transition: all 2s ease;
}
.tilt:hover{
    transform: rotateZ(-15deg) scale(0.95, 0.95);
    filter: saturate(4) contrast(1.4);
    transition: all 1s ease;
}
