.footer {
    background-color: #232836;
}

#app-name {
    color: #a4b8dd;
}

#developer {
    color: #fcfcfc;
}

#app-developer-url {
    color: #739ef3;
}

.tilt img {
    filter: drop-shadow(5px 5px 9px rgba(0, 0, 0, 0.7));
}