#overlaystatus {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(95, 198, 255, 0.11); /* Blueish background with opacity */
    z-index: 2;
}
#overlaystatus div {
    cursor: default;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    color: #5c818f;
    text-shadow: 1px 1px 1px #282828, 4px 3px 0px rgba(0,0,0,0.15);
    transform: translate(-50%,-50%);
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}
.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 180px;
    margin-top: -90px;
    margin-left: -90px;
    border-radius: 50%;
    border: 20px solid rgba(204, 204, 204, 0.65);
    border-top-color: rgba(103, 152, 196, 0.75);
    border-bottom-color: rgba(103, 152, 196, 0.75);
    animation: spinner .8s linear infinite;
}