
nav {
    background: #1e1e1e;
}

nav ul {
    /*border-bottom: 1px solid #888888;*/
}


nav ul li span {
    color: #e6e6e6;
}

nav ul li:hover {
    background: #2c303b;
}

/* bottom dropdown menu */
nav ul li ul {
    border-bottom: 3px solid #226e91;
    box-shadow: 0px 5px 5px #444;
}

nav ul li ul li span,
span.menu-spacer,
span.menu-spacer:hover {
    background-color: #3d3d3d;
}

span.menu-spacer span {
    background-color: #565656;
}

nav ul li ul li span:hover {
    background: #5675b9;
    color: #fff;
}

nav ul li ul li div {
    background: #cbcbcb;
}

.menu-disabled {
    color: #8f8f8f;
    filter: grayscale(70%);
}
.menu-disabled:hover {
    background-color: #4e4e4e;
    color: #8f8f8f;
}


/* File menu */
/*
.icon-none:before {
    content: url("../../icons/menu/empty.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-import:before {
    content: url("../../icons/menu/import.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-export:before {
    content: url("../../icons/menu/export.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-close:before {
    content: url("../../icons/menu/close.png");
    display: block;
    float: left;
    padding-right: 4px;
}
*/

/* Edit menu */
/*
.icon-insert:before {
    content: url("../../icons/menu/insert.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-edit:before {
    content: url("../../icons/menu/edit.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-delete:before {
    content: url("../../icons/menu/delete.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-copy:before {
    content: url("../../icons/menu/copy.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-selectall:before {
    content: url("../../icons/menu/selectall.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-selectnone:before {
    content: url("../../icons/menu/selectnone.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-selectinvert:before {
    content: url("../../icons/menu/selectinvert.png");
    display: block;
    float: left;
    padding-right: 4px;
}
*/

/* Display menu */
/*
.icon-refresh:before {
    content: url("../../icons/menu/refresh.png");
    display: block;
    float: left;
    padding-right: 4px;
}
*/

/* Extra menu */
/*
.icon-preferences:before {
    content: url("../../icons/menu/preferences.png");
    display: block;
    float: left;
    padding-right: 4px;
}
*/

/* Help menu */
/*
.icon-help:before {
    content: url("../../icons/menu/help.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-releasenotes:before {
    content: url("../../icons/menu/releasenotes.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-about:before {
    content: url("../../icons/menu/about.png");
    display: block;
    float: left;
    padding-right: 4px;
}
*/