body {
  display: flex;
  flex-direction: column;
}

/* workaround: prevent unwanted horizontal scrollbar from appearing occasionally */
div.dataTables_scrollBody {
  overflow-x: hidden !important;
}

#content {
  flex: 1 0 auto;
}

#buttons {
  height: 50px;
  padding-top: 10px;
  width: 100%;
  margin-left: auto;
  right: auto;
}

.button-right {
  float: right;
}

/* too close, add room */
.select-info {
  padding-left: 5px;
}


td.my-details-control {
  background: url('/theme/icons/details_popup.png') no-repeat center center;
  cursor: pointer;
}

#fhcTable_filter input[type=search] {
  width: 180px;
}
#fhcTable_filter input[type=search]:focus {
  width: 300px;
}

/* hide the plus-icon when resizing window to a amall width */
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
  display: none;
}
