/* Dark theme */

/* color table text */
table#fhcTable tbody tr {
    color: #d99b28;
}

/* Text color table info */
.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_info,
.dataTables_length label,
.dataTables_filter label {
    color: #a4b8dd !important;
}

/* Paginate (next/previous) disabled */
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #6b6b6b !important;
}

/* Hover page number (button like) */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #111;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
    background: linear-gradient(to bottom, #585858 0%, #111 100%);
}

/* Active pagenumber (button-like) */
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #f3f3f3 !important;
    border: 1px solid #777777;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #777), color-stop(100%, #545454));
    background: -webkit-linear-gradient(top, #777 0%, #545454 100%);
    background: linear-gradient(to bottom, #777 0%, #545454 100%);
}


/* Selection color even rows */
table.dataTable.display tbody tr.even.selected,
table.dataTable.display tbody tr.even.selected > .sorting_1,
table.dataTable         tbody tr.even.selected > .sorting_1 {
    background-color: #454b5f;
}

/* Selection color odd rows */
table.dataTable.display tbody tr.odd.selected,
table.dataTable.display tbody tr.odd.selected > .sorting_1,
table.dataTable         tbody tr.odd.selected > .sorting_1 {
    background-color: #4c4e66;
}


/* Even zebra rows */
table.dataTable              tbody tr,
table.dataTable.stripe       tbody tr.even,
table.dataTable.display      tbody tr.even,
table.dataTable.display      tbody tr.even > .sorting_1,
table.dataTable.order-column tbody tr.even > .sorting_1 {
    background-color: #373740;
}

/* Odd zebra rows */
table.dataTable.stripe       tbody tr.odd,
table.dataTable.display      tbody tr.odd,
table.dataTable.display      tbody tr.odd > .sorting_1,
table.dataTable.order-column tbody tr.odd > .sorting_1 {
    background-color: #313139;
}


div.detail-root {
    background-color: #404047;
}


/* Border rows */
table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
    border-top: 1px solid #45443f;
}

/* Row hover color */
table.dataTable              tbody tr:hover,
table.dataTable.display      tbody tr:hover,
table.dataTable.display      tbody tr:hover > .sorting_1,
table.dataTable.order-column tbody tr:hover > .sorting_1,
table.dataTable.display      tbody tr:hover.selected,
table.dataTable.display      tbody tr:hover.selected > .sorting_1,
table.dataTable.order-column tbody tr:hover.selected > .sorting_1 {
    background-color: #4c576c;
}


/* Dim the detail icon */
td.my-details-control {
    filter: brightness(50%);
}
td.details-control {
    filter: brightness(75%);
}