* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 800px;
  padding: 0;
}

#popup-header {
  margin: 2px;
  font-size: 1.3em;
  font-weight: bold;
  width: 99%;
  text-align: center;
}

#root {
  overflow: auto;
  width: 100%;
}

/* too close to the edge, add room */
#fhcTable_info,
#fhcTable_length {
  padding-left: 5px;
}
#fhcTable_filter {
  padding-right: 5px;
}


td.details-control {
  background: url('../../../theme/icons/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('../../../theme/icons/details_close.png') no-repeat center center;
}

div.detail-root {
  display: none;
  width: 100%;
  background-color: rgb(245, 245, 245);
}
div.detail-root > table {
  border-spacing: 0;
  border: none;
  padding-left: 30px;
}
div.detail-root > table td {
  padding: 1px 5px !important;
  vertical-align: top;
}
div.detail-root .label {
  font-weight: bold;
  color: black;
}
table.dataTable tbody td.no-padding {
  padding: 0;
}