body {
  display: flex;
  flex-direction: column;
}

/* workaround: prevent unwanted horizontal scrollbar from appearing occasionally */
div.dt-scroll-body {
  overflow-x: hidden !important;
}

#content {
  flex: 1 0 auto;
}

#buttons {
  height: 50px;
  padding-top: 10px;
  width: 100%;
  margin-left: auto;
  right: auto;
}

.button-right {
  float: right;
}

/* too close, add room */
.select-info {
  padding-left: 5px;
}


td.my-details-control {
  background: url('/theme/icons/details_popup.png') no-repeat center center;
  cursor: pointer;
  min-width: 14px;
}

#dt-search-0[type=search] {
  min-width: 115px;
}
#dt-search-0[type=search]:focus {
  min-width: 30em;
}

/* hide the plus-icon when resizing window to a small width */
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
  display: none;
}

/* column-visibility checkmarks */
/*button.buttons-columnVisibility.active span span.col-select span.check {*/
/*  transform: rotate(-45deg) translateX(3px) translateY(2px) scaleY(0.8);*/
/*  width: 7px;*/
/*  height: 5px;*/
/*}*/
