* {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 800px;
    padding: 0;
}

#popup-header {
    margin: 2px;
    width: 99%;
    text-align: center;
}

#popup-header .header-title {
    font-size: 1.3em;
    font-weight: bold;
}

#popup-header .header-info {
    padding-left: 5px;
    font-style: italic;
}


.dialog-header-action-icon {
    position: absolute;
    height: 16px;
    width: 16px;
    z-index: 2;
    top: 4px;
}

.dialog-header-action-icon:hover {
    transform: rotate(180deg);
    transform-origin: 50% 45% 0;
    transition: all .3s ease;
    cursor: pointer;
}

#preference-action {
    right: 44px;
    transform-origin: 50% 45% 0;
    background: url('../../../theme/icons/dialog/preferences.png') no-repeat center center;
}

#bigdialog-action {
    right: 24px;
    background: url('../../../theme/icons/fhc-16.png') no-repeat center center;
}

#closepopup-action {
    right: 4px;
    background: url('../../../theme/icons/dialog/close-thin.png') no-repeat center center;
}

#root {
    overflow: auto;
    width: 100%;
}

/* too close to the edge, add room */
#fhcTable_info,
#fhcTable_length {
    padding-left: 5px;
}

#fhcTable_filter {
    padding-right: 5px;
}

td.details-control {
    background: url('../../../theme/icons/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../../../theme/icons/details_close.png') no-repeat center center;
}

div.detail-root {
    display: none;
    width: 100%;
    background-color: rgb(245, 245, 245);
}

div.detail-root > table {
    border-spacing: 0;
    border: none;
    padding-left: 30px;
}

div.detail-root > table td {
    padding: 1px 5px !important;
    vertical-align: top;
}

div.detail-root .label {
    font-weight: bold;
    color: black;
}

div.detail-info {
    max-width: 620px;
    max-height: 250px;
    overflow: hidden !important;
}

table.dataTable tbody td.no-padding {
    padding: 0;
}

#resize-bar {
    height: 6px;
    cursor: s-resize;
}