/* common styles for table view */

/* prevent select-all highlighting (can't override default behaviour Ctrl-A event) */
* {
    user-select: none;
    -moz-user-select: none; /* older FF versions */
}

/* left align column header with data columns */
table.dataTable.compact thead th, table.dataTable.compact thead td {
    /*padding: 4px 17px;*/
    padding: 4px;
}

/* search box */
#fhcTable_filter {
    padding-right: 5px;
}
#fhcTable_filter input[type=search] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: min-width 0.4s ease-in-out;
    background: url("search-dark.png") no-repeat 3px 3px;
    padding-left: 22px;
    padding-top: 1px !important;
    padding-bottom: 2px !important;
}
#fhcTable_length select {
    padding-top: 1px;
    padding-bottom: 2px;
}

#fhcTable_length option {
    text-align: right;
}

/* Force styling for column-visibility buttons */
div.dt-buttons {
    margin-left: 12px;
}
button.buttons-colvis {
    margin-top: 3px;
    margin-left: 10px;
    width: 25px;
    height: 16px;
    border: none !important;
    min-width: unset !important;
    background: url('../../../theme/icons/dialog/column_select.png') no-repeat center center !important;
}
button.buttons-colvis:hover {
    border: none !important;
    background: url('../../../theme/icons/dialog/column_select.png') no-repeat center center !important;
    filter: unset !important;
}
span.column-selector {
    display: inline-block;
    width: 25px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
}
div.dt-button-collection div button {
    background: var(--button-disabled-bg-color) !important;
    margin-bottom: 2px !important;
}
div.dt-button-collection div button.dt-button-active {
    background: var(--button-bg-color) !important;
}
div.dt-button-collection div button.buttons-colvisRestore {
    background: var(--button-bg-color) !important;
    color: var(--button-text-color);
    margin-top: 8px;
    font-style: italic;
}
div.dt-button-collection div button:hover {
    background: var(--button-hover-bg-color) !important;
    color: var(--button-hover-text-color) !important;
    border-color: var(--button-hover-border-color) !important;
}
div.dt-button-collection {
    background: var(--main-bg-color);
}
span.col-select-title {
    color: var(--button-text-color);
}
.buttons-columnVisibility:after {
    /* create a box even when not selected */
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 1em;
    display: inline-block;
    content: " ";
    font-weight: bold;
    width: 16px;
    height: 14px;
    padding-left: 6px;
    border-radius: 4px;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.5), 2px 2px 0 rgba(188, 188, 188, 0.4);
}
div.dt-button-collection .dt-button-active:after {
    /* checkmarked box when selected */
    content: "✓";
    color: var(--button-text-color);
}

/* Disable select (might accidentally occur when double clicking) */
table.dataTable tbody tr {
    user-select: none;
    -moz-user-select: none;
}

/* Selection color even rows */
table.dataTable.display tbody tr.even.selected,
table.dataTable.display tbody tr.even.selected > .sorting_1,
table.dataTable         tbody tr.even.selected > .sorting_1 {
    background-color: #b5c4de;
}

/* Selection color odd rows */
table.dataTable.display tbody tr.odd.selected,
table.dataTable.display tbody tr.odd.selected > .sorting_1,
table.dataTable         tbody tr.odd.selected > .sorting_1 {
    background-color: #abb9d3;
}

/* Even zebra rows */
table.dataTable              tbody tr,
table.dataTable.stripe       tbody tr.even,
table.dataTable.display      tbody tr.even,
table.dataTable.display      tbody tr.even > .sorting_1,
table.dataTable.order-column tbody tr.even > .sorting_1 {
    background-color: #f0f0f0;
}

/* Odd zebra rows */
table.dataTable.stripe       tbody tr.odd,
table.dataTable.display      tbody tr.odd,
table.dataTable.display      tbody tr.odd > .sorting_1,
table.dataTable.order-column tbody tr.odd > .sorting_1 {
    background-color: #ebebeb;
}

/* Row hover color */
table.dataTable              tbody tr:hover,
table.dataTable.display      tbody tr:hover,
table.dataTable.display      tbody tr:hover > .sorting_1,
table.dataTable.order-column tbody tr:hover > .sorting_1,
table.dataTable.display      tbody tr:hover.selected,
table.dataTable.display      tbody tr:hover.selected > .sorting_1,
table.dataTable.order-column tbody tr:hover.selected > .sorting_1 {
    background-color: #cde8ff;
}


/* Scrollbar styling */

.mCSB_inside > .mCSB_container {
    margin-right: 16px;
}

.mCSB_scrollTools {
    width: 13px;
}

.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 9px;
}

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
    margin-left: -2px;
}

.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background-color: #777;
}

.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_draggerContainer{
    background-color: rgba(0,0,0,0.05);
}
