/* Dark theme */

/* color table text */
table#fhcTable tbody tr {
    color: #ffe0a0;
}

/* Text color table info */
.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_info,
.dataTables_length label,
.dataTables_filter label {
    color: #a4b8dd !important;
}

/* Paginate (next/previous) disabled */
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #566270 !important;
}

/* Hover page number (button like) */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #111;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #264a94), color-stop(100%, #122952));
    background: -webkit-linear-gradient(top, #264a94 0%, #122952 100%);
    background: linear-gradient(to bottom, #264a94 0%, #122952 100%);
}

/* Active pagenumber (button-like) */
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #f3f3f3 !important;
    border: 1px solid #777777;
    /*background-color: white;*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3261c1), color-stop(100%, #113674));
    background: -webkit-linear-gradient(top, #3261c1 0%, #113674 100%);
    background: linear-gradient(to bottom, #3261c1 0%, #113674 100%);
}


/* Selection color even rows */
table.dataTable.display tbody tr.even.selected,
table.dataTable.display tbody tr.even.selected > .sorting_1,
table.dataTable         tbody tr.even.selected > .sorting_1 {
    background-color: #4e5069;
}

/* Selection color odd rows */
table.dataTable.display tbody tr.odd.selected,
table.dataTable.display tbody tr.odd.selected > .sorting_1,
table.dataTable         tbody tr.odd.selected > .sorting_1 {
    background-color: #585b73;
}


/* Even zebra rows */
table.dataTable              tbody tr,
table.dataTable.stripe       tbody tr.even,
table.dataTable.display      tbody tr.even,
table.dataTable.display      tbody tr.even > .sorting_1,
table.dataTable.order-column tbody tr.even > .sorting_1 {
    background-color: #233e5a;
}

/* Odd zebra rows */
table.dataTable.stripe       tbody tr.odd,
table.dataTable.display      tbody tr.odd,
table.dataTable.display      tbody tr.odd > .sorting_1,
table.dataTable.order-column tbody tr.odd > .sorting_1 {
    background-color: #23334f;
}


div.detail-root {
    background-color: #404047;
}


/* Border rows */
table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
    border-top: 1px solid #45443f;
}

/* Row hover color */
table.dataTable              tbody tr:hover,
table.dataTable.display      tbody tr:hover,
table.dataTable.display      tbody tr:hover > .sorting_1,
table.dataTable.order-column tbody tr:hover > .sorting_1,
table.dataTable.display      tbody tr:hover.selected,
table.dataTable.display      tbody tr:hover.selected > .sorting_1,
table.dataTable.order-column tbody tr:hover.selected > .sorting_1 {
    background-color: #4c576c;
}


/* Dim the detail icon */
td.my-details-control {
    filter: brightness(50%);
}
td.details-control {
    filter: brightness(75%);
}


/* Scrollbar styling, overrule the default set theme 3d-thick-dark */

.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background-color: #555;
}

.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_draggerContainer{
    background-color: rgba(229, 229, 229, 0.17);
}

.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonUp{ background-position: -32px -72px; }
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonDown{ background-position: -32px -92px; }
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -40px -112px; }
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonRight{ background-position: -40px -128px; }
