/* common styles for table view */

/* prevent select-all highlighting (can't override default behaviour Ctrl-A event) */
* {
    user-select: none;
}

/* search box */
#fhcTable_filter input[type=search] {
    width: 115px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background: url("search-dark.png") no-repeat 3px 3px;
    padding-left: 22px;
}

/* When the input field gets focus, change its width to 100% */
#fhcTable_filter input[type=search]:focus {
    width: 230px;
    padding-left: 22px;
}

#fhcTable_length option {
    text-align: right;
}

/* Disable select (might accidentally occur when double clicking) */
table.dataTable tbody tr {
    user-select: none;
    -moz-user-select: none;
}

/* Selection color even rows */
table.dataTable.display tbody tr.even.selected,
table.dataTable.display tbody tr.even.selected > .sorting_1,
table.dataTable         tbody tr.even.selected > .sorting_1 {
    background-color: #b5c4de;
}

/* Selection color odd rows */
table.dataTable.display tbody tr.odd.selected,
table.dataTable.display tbody tr.odd.selected > .sorting_1,
table.dataTable         tbody tr.odd.selected > .sorting_1 {
    background-color: #abb9d3;
}

/* Even zebra rows */
table.dataTable              tbody tr,
table.dataTable.stripe       tbody tr.even,
table.dataTable.display      tbody tr.even,
table.dataTable.display      tbody tr.even > .sorting_1,
table.dataTable.order-column tbody tr.even > .sorting_1 {
    background-color: #f0f0f0;
}

/* Odd zebra rows */
table.dataTable.stripe       tbody tr.odd,
table.dataTable.display      tbody tr.odd,
table.dataTable.display      tbody tr.odd > .sorting_1,
table.dataTable.order-column tbody tr.odd > .sorting_1 {
    background-color: #ebebeb;
}

/* Row hover color */
table.dataTable              tbody tr:hover,
table.dataTable.display      tbody tr:hover,
table.dataTable.display      tbody tr:hover > .sorting_1,
table.dataTable.order-column tbody tr:hover > .sorting_1,
table.dataTable.display      tbody tr:hover.selected,
table.dataTable.display      tbody tr:hover.selected > .sorting_1,
table.dataTable.order-column tbody tr:hover.selected > .sorting_1 {
    background-color: #cde8ff;
}


/* Scrollbar styling */

.mCSB_inside > .mCSB_container {
    margin-right: 16px;
}

.mCSB_scrollTools {
    width: 13px;
}

.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 9px;
}

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
    margin-left: -2px;
}

.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background-color: #777;
}

.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_draggerContainer{
    background-color: rgba(0,0,0,0.05);
}
