html, body {
    height: 100%;
    font-family: Arial, Verdana, sans-serif;
}

html {
    margin: 0;
    font-size: 12px;
}

body {
    background: #f0f0f0;
    margin: 0 auto;
    padding: 2px;
    height: inherit;
    cursor: default;
}

button {
    margin: 2px 2px;
    min-width: 7em;
    height: 25px;
    font-size: 12px;
}

input, select, textarea {
    border-radius: 4px;
}
