html, body {
    height: 100%;
    font-family: Arial, Verdana, sans-serif;
}

html {
    margin: 0;
    font-size: 12px;
}

body {
    background: #f0f0f0;
    margin: 0 auto;
    padding: 2px;
    height: inherit;
    cursor: default;
}

button {
    margin: 2px 2px;
    min-width: 7em;
    height: 25px;
    font-size: 12px;
}

input, select, textarea, fieldset {
    border-radius: 4px;
}

fieldset {
    margin-top: 15px;
    border: 1px solid #4b74ff;
    background-color: #e5e8ff;
}

legend {
    padding: 0.2em 0.5em;
    border: 1px solid #4b74ff;
    color: #1d2063;
    background-color: #fafaff;
    font-weight: bold;
    font-size: 125%;
}
