body {
    background-color: #393f4c;
    color: #cdcdcd;
}

input, select, textarea, fieldset, legend {
    background-color: #6e7079;
    color: #f2f2f2;
    border: 1px solid #717171;
}

::selection { background: #b36800; color: #24242d}
::-moz-selection { background: orange; color: #24242d}

a {
    color: #56bbff;
}

input:disabled,
select:disabled,
textarea:disabled {
    color: #949494;
}

input:disabled,
textarea:disabled,
select:disabled {
    background-color: #4c4e57;
}

button {
    background-color: #5675b9;
    color: white;
    border: 1px solid #5b9ae2;
}

button:disabled,
button:disabled:hover {
    background-color: #485590;
    color: #999999;
}

button:hover {
    background-color: #5698dc;
    color: #ffffff;
}

fieldset {
    border-color: #757575;
    background-color: #373740;
}

legend {
    border-color: #999999;
    background-color: #36363f;
    color: #acacac;
}


.modal-content {
    background: hsla(221, 14%, 26%, 0.81);
    border-color: #515151;
    color: white;
}

.modal-header {
    background-color: rgba(15, 58, 120, 0.51);
}

.modal-title {
    color: white;
}

.modal-message {
    color: white;
}

.modal-yes,
.modal-okay {
    background-color: #009b00;
}

.modal-no,
.modal-cancel {
    background-color: #9b0000;
}
