nav {
    background-color: #1e1e1e;
}

nav ul {
    /*border-bottom: 1px solid #888888;*/
}


nav ul li span {
    color: #e6e6e6;
}

nav ul li:hover {
    background-color: #4c505b;
}

/* bottom dropdown menu */
nav ul li ul {
    border-bottom: 3px solid #226e91;
    box-shadow: 0px 5px 5px #444;
}

nav ul li ul li span,
span.menu-spacer,
span.menu-spacer:hover {
    background-color: #3d3d3d;
}

span.menu-spacer span {
    background-color: #565656;
}

nav ul li ul li span:hover {
    background-color: #5675b9;
    color: #fff;
}

.menu-disabled {
    color: #8f8f8f;
    filter: grayscale(70%);
}
.menu-disabled:hover {
    background-color: #4e4e4e;
    color: #8f8f8f;
}


/* Context menu */
.context-menu {
    color: #e6e6e6;
    background-color: #3d3d3d;
    box-shadow: 0 0 10px 2px #191919;
}
.context-menu span:hover {
    background-color: #5675b9;
    color: #fff;
}
.context-separator {
    border-bottom: 1px solid #aaa;
}
