.status-header {
    color: #eaeaea;;
}

progress[value] {
    border: 1px solid;
    background-color: #9a9a9a;
    box-shadow: 0 2px 2px -2px #000000 inset;
}

progress::-moz-progress-bar {
    background: #045015;
}

#linkInfo {
    color: #9a9a9a;
}

#linkInfo:hover {
    color: #d7d7d7;
    background-color: #3e3f3e;
}

#linkInfo:before {
    filter: drop-shadow(2px 2px 2px rgba(26, 26, 26, 0.7));
}