body {
    display: flex;
    flex-direction: column;
}

table {
    margin-top: 15px;
}

td.right-aligned {
    text-align: right;
    min-width: 3.0em;
}

progress {
    margin-top: 10px;
    width: 100%;
    height: 10px;
}

.content {
    flex: 1 0 auto;
    margin: 8px;
}

.status-header {
    font-weight: bold;
}

#buttons {
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px;
}

#count-text-label,
#count-text,
#count-multiline-label,
#count-multiline {
    font-style: italic;
}

#download-label {
    display: inline-block;
    font-weight: bold;
    padding-top: 15px;
}

#link {
    display: none;
}

#linkInfo {
    margin-top: 16px;
    font-style: italic;
    color: #727272;
    display: none;
}

#linkInfo:before {
    content: "";
    display: block;
    background: url('/theme/icons/dialog/information16.png') no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
    filter: drop-shadow(2px 2px 2px rgba(90, 90, 90, 0.7));
}