#operationInfo {
    color: #1c1c1c;
}

.content {
    border: 3px solid #9c9c9c;
    padding: 6px;
    background: linear-gradient(180deg, #ffab20 0%, #ffab20 4%, #a65b1f 10%, #a65b1f 100%);
    box-shadow: 1px 1px 4px inset;
    color: #fff7d7;
}
