body {
    display: flex;
    flex-direction: column;
    /* hide select-all highlighting (can't override default behaviour Ctrl-A event) */
    user-select: none;
}

.content {
    flex: 1 0 auto;
    margin: 8px;
}

#operationInfo {
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 15px;
    font-variant: small-caps;
    font-style: italic;
}

#buttons {
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px;
}

table {
    width: 100%;
}

th {
    text-align: left;
    vertical-align: baseline;
    width: 8.0em;
    padding-top: 5px;
}

input {
    width: 100%;
    display: block;
}

input[type='checkbox'] {
    width: unset;
}

/*input:disabled,*/
/*textarea:disabled,*/
/*select:disabled {*/
    /*color: black;*/
/*}*/

select:disabled {
    background-color: transparent;
    border-style: solid;
}

textarea {
    height: calc(100vh - 300px);
    width: 100%;
    min-height: 18px;
}

/* workaround to enable (contextmenu-)events on disabled input */
input[disabled],
textarea[disabled] {
    pointer-events:none;
}

#name-label,
#name,
#value-label,
#value {
    display: inline-block;
}

.invalid-value {
    border: 1px solid #ff0000;
}


.datetime-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#datetimeContent {
    max-width: 200px;
}

#datetimeContent .modal-header {
    height: 18px;
}

#datetimeContent .modal-title {
    margin-left: 11px;
    margin-top: -3px;
}

#datetimeContent table {
    padding: 4px;
}

#datetimeContent th {
    max-width: 3.0em;
}

.timeseparator {
    width: 12px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

.datetime-separator {
    height: 6px;
}

#year {
    width: 2.8em;
    display: inline-block;
}
#hour,#minute,#second {
    width: 1.7em;
    display: inline-block;
}

.modal-buttons {
    margin-right: 3px;
}

.modal-buttons button {
    margin-bottom: 6px;
}

.datetime-controls {
    display: inline-block;
    text-align: right;
    width: 50px;
}

#btnErase,
#btnNowdate {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 4px;
}

#btnErase {
    background: url("icons/eraser.png") no-repeat top left;
}

#btnNowdate {
    background: url("icons/time.png") no-repeat top left;
}

#btnErase:hover,
#btnNowdate:hover {
    transform: rotate(360deg);
    transition: all .3s ease;
    cursor: pointer;
}

#togglePreview {
    margin-left: 8px;
    bottom: 6px;
    width: unset;
    position: absolute;
}

#togglePreview label {
    padding-left: 4px;
}

.viewOverlay {
    all: initial;
    box-shadow: 5px 3px 30px black;
    border: 2px solid #3a87e0;
    border-radius: 6px;
    top: 12px;
    left: 12px;
    right: 12px;
    bottom: 45px;
    position: absolute;
    background-color: #eeeeee;
    overflow: auto;
    padding: 8px;
}
.viewOverlayLabel {
    position: absolute;
    top: 12px;
    right: 32px;
    z-index: 10;
    background-color: #ffeca8;
    border-left: 1px solid #292929;
    border-right: 1px solid #292929;
    border-bottom: 1px solid #292929;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 0 2px;
    color: black;
    font-size: 10px;
}

#textWrapOverlayLabel {
    line-height: 12px;
    font-size: 20px;
    font-weight: bold;
    right: 65px;
    background-color: var(--button-bg-color);
    color: var(--button-disabled-text-color);
    padding-left: 12px;
    padding-right: 12px;
}

#textWrapOverlayLabel.wrap-active {
    color: var(--button-text-color);
}

.linewrap {
    white-space: pre-wrap;
}

#togglePreview input {
    margin-right: 0;
    padding-right: 0;
}

#togglePreview td {
    padding-left: 0;
    padding-right: 0;
}

#togglePreview label {
    padding-right: 4px;
}