.content {
    flex: 1 0 auto;
    margin: 8px;
}

#buttons {
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /*background-color: #cbcbcb;*/
    margin: 10px;
}

table {
    width: 100%;
}

th {
    text-align: left;
    vertical-align: baseline;
    width: 7em;
    font-size: 0.9em;
}

input {
    width: 100%;
    display: block;
}

input:disabled {
    color: black;
    /*background-color: #efefef;*/
}


#name-label,
#name,
#value-label,
#value {
    display: inline-block;
    /*font-size: 0.85em;*/
}
