body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    margin: 8px;
}

#operationInfo {
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 15px;
    font-variant: small-caps;
    font-style: italic;
}

#buttons {
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px;
}

table {
    width: 100%;
}

th {
    text-align: left;
    vertical-align: baseline;
    width: 8.0em;
    padding-top: 5px;
}

input {
    width: 100%;
    display: block;
}

input:disabled,
textarea:disabled,
select:disabled {
    color: black;
}

select:disabled {
    background-color: transparent;
    border-style: solid;
}


textarea {
    height: calc(100vh - 265px);
    width: 100%;
    min-height: 18px;
}

#name-label,
#name,
#value-label,
#value {
    display: inline-block;
}

.missing-value {
    border: 1px solid #ff0000;
}
