* {
    /* prevent select-all highlighting */
    user-select: none;
    -moz-user-select: none; /* older FF versions */
}

html, body, div, iframe {
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    width: max-content;
}

.content {
    margin: 8px;
}

/* Initially all hidden */
#add-blacklist,
#del-blacklist,
#add-whitelist,
#del-whitelist {
    display: none;
}
