
fieldset.sub-fieldset {
    background-color: #4a4b56;
    border-color: #222222;
}

.optionLink {
    color: #7f7f7f;
}

.selected {
    color: #ffffff;
}
.selected::after {
    border-left-color: var(--field-border-color);
}

/* checkbox+radio styling */
label span {
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.5), 2px 2px 0 rgba(255,255,255,.4);
}
input[type="Checkbox"]:checked+label span:before {
    border-color: #e2e2e2;
}
input[type="Radio"]:checked+label span:before{
    background: #e2e2e2;
}

#shortcut_pane > div {
    background-color: #43434c;
    border: 1px solid var( --field-border-color);
}