body {
    display: flex;
    flex-direction: column;
}

html {
    font-family: Tahoma;
    font-style: normal;
}

fieldset.sub-fieldset {
    background-color: #ffffff;
}

fieldset.sub-fieldset> legend {
    font-size: 100%;
    border: 0px;
    background-color: transparent;
}

#buttonClose {
    display: none;
}

.content {
    max-width: 600px;
    flex: 1 0 auto;
    margin: 8px;
}

#buttons {
    max-width: 600px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px;
}

