#overlaystatus {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(0,0,0,0.2); !* Black background with opacity *!*/
    z-index: 2;
}
#overlaystatus div {
    cursor: default;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color: #8f8f8f;
    text-shadow: 1px 1px 1px #282828, 4px 3px 0px rgba(0,0,0,0.15);
    transform: translate(-50%,-50%);
}