nav {
    background: #e6e6e6;
    margin-bottom: 5px;
}

nav span {
    cursor: default;
}

nav ul {
    /*font-size: 0;*/
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #888888;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li span {
    color: #000;
    display: block;
    font-size: 0.75em;
    padding: 5px 10px;
    transition: 0.3s linear;
}

nav ul li:hover {
    background: #cde8ff;
}

nav ul li ul {
    border-bottom: 3px solid #215c7e;
    display: none;
    position: absolute;
    width: 190px;
    z-index: 10;
    box-shadow: 0px 5px 5px #444;
}

nav ul li ul li {
    /*border-top: 1px solid #bfbfbf;*/
    display: block;
    z-index: 10;
}

/*nav ul li ul li:first-child {*/
    /*border-top: none;*/
    /*z-index: 10;*/
/*}*/

nav ul li ul li span {
    background: #d5d5d5;
    display: block;
    padding: 4px 10px;
    z-index: 10;
}

nav ul li ul li span:hover {
    background: #0a0d5f;
    color: #fff;
}

nav ul li ul li div {
    background: #cbcbcb;
    display: block;
    padding: 2px 6px;
    z-index: 10;
}
nav ul li ul li div hr {
    margin: 0;
}

.menu-disabled {
    color: #8f8f8f;
    filter: grayscale(70%);
}
.menu-disabled:hover {
    background-color: #b9b9b9;
    color: #8f8f8f;
}


/* File menu */
.icon-none:before {
    content: url("../icons/menu/empty.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-import:before {
    content: url("../icons/menu/import.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-export:before {
    content: url("../icons/menu/export.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-close:before {
    content: url("../icons/menu/close.png");
    display: block;
    float: left;
    padding-right: 4px;
}

/* Edit menu */
.icon-insert:before {
    content: url("../icons/menu/insert.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-edit:before {
    content: url("../icons/menu/edit.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-delete:before {
    content: url("../icons/menu/delete.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-copy:before {
    content: url("../icons/menu/copy.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-selectall:before {
    content: url("../icons/menu/selectall.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-selectnone:before {
    content: url("../icons/menu/selectnone.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-selectinvert:before {
    content: url("../icons/menu/selectinvert.png");
    display: block;
    float: left;
    padding-right: 4px;
}

/* Display menu */
.icon-refresh:before {
    content: url("../icons/menu/refresh.png");
    display: block;
    float: left;
    padding-right: 4px;
}

/* Extra menu */
.icon-preferences:before {
    content: url("../icons/menu/preferences.png");
    display: block;
    float: left;
    padding-right: 4px;
}

/* Help menu */
.icon-help:before {
    content: url("../icons/menu/help.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-releasenotes:before {
    content: url("../icons/menu/releasenotes.png");
    display: block;
    float: left;
    padding-right: 4px;
}
.icon-about:before {
    content: url("../icons/menu/about.png");
    display: block;
    float: left;
    padding-right: 4px;
}
